*{
    padding: 0;
    margin: 0;
}

nav {
    padding: 15px;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;       
    margin: 0;
    padding: 0;
}

nav img {
    width: 50px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-size: larger;
    color: rgb(116, 116, 116);
    text-decoration: none;
}

nav ul li.logo {
    margin-right: auto;   
}

nav ul li.username {
    margin-left: auto;   
}

nav ul li.username a {
    color: white;
    padding: 6px 14px;
    border-radius: 7px;
    background: rgb(35, 138, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
}


.hero{
    display: flex;
    padding: 30px;
    justify-content: center;
}

.hero .left-div{
    width: 50%;
    min-width: 50vw;

}

.hero .left-div h1{
    color: rgb(69, 69, 69);
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-div h1 span {
    color: rgb(35, 138, 255);
}

.left-div p{
    margin: 20px 0px 20px 0px;
    color: rgb(87, 87, 87);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.left-div button{
    background: rgb(35, 138, 255);
    border: transparent;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-size: larger;
    margin-top: 10px;
}

.hero .right-div img{
    width: 400px;
    margin-left: 50px;
}
