body{
    padding: 0;
}

nav{
    margin: 20px;
    text-align: center;
}

nav img{
    float: left;
    width: 50px;
}

nav a{
    font-size: larger;
    color: rgb(77, 77, 77);
    text-decoration: none;
    margin-right: 20px;
}

nav .username{
    color: white;
    padding: 6px;
    border-radius: 7px;
    background: rgb(35, 138, 255);
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: bold;
}

.hero{
    display: flex;
    padding: 30px;
}

.hero .left-div{
    width: 50%;
}

.hero .left-div h1{
    color: rgb(69, 69, 69);
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-div h1 span {
    color: rgb(35, 138, 255);
}

.left-div p{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.left-div button{
    background: rgb(35, 138, 255);
    border: transparent;
    border-radius: 7px;
    padding: 20px;
    color: white;
    font-size: larger;
    margin-top: 10px;
}

.hero .right-div img{
    width: 400px;
    margin-left: 50px;
}
