*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;  
 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;       
    margin: 0;
    padding: 0;
}

nav img {
    width: 70px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-size: larger;
    color: rgb(116, 116, 116);
    text-decoration: none;
}

nav ul li.logo {
    margin-right: auto;   
}

/* nav .username {
    margin-left: auto;   
} */

nav .username  {
    margin-right: 20px;
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 7px;
    background: rgb(35, 138, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 600;
}


.hero{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 30px;
    justify-content: center;
    max-width: 100%;
}

.hero .left-div{
    min-width: 50vw;

}

.hero .left-div h1{
    color: rgb(69, 69, 69);
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-div h1 span {
    color: rgb(35, 138, 255);
}

.left-div p{
    margin: 20px 0px 20px 0px;
    color: rgba(87, 87, 87, 0.684);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    width: 80%;
}

.left-div button{
    background: rgb(35, 138, 255);
    border: transparent;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-size: larger;
    margin-top: 10px;
}

.hero .right-div img{
    width: 400px;
    margin-left: 50px;
}
